{% extends 'pages/abstract/dashboard.html.twig' %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("UNLU") }}{% endblock %}
{% block page_description %}{{ translate("UNLU") }}{% endblock %}

{% block body_matter %}
    <div class="row"> <!-- acciones -->
        <div class="col-sm-4">
            <a href="#" class="solicitar-vinculacion">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fas fa-file-contract fa-fw"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Solicitar Vinculación</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="solicitar-servicio">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fas fa-plus-circle fa-fw"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Solicitar Servicio</span>
                    </div>
                </div>
            </a>
        </div>
        {% if checkAccess("admin_unlu") %}
        <div class="col-sm-4">
            <a href="#" class="baja-solicitud">
                <div class="info-box">
                    <span class="info-box-icon bg-blue"><i class="fas fa-minus-circle fa-fw"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Baja Solicitud</span>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <!-- Vinculaciones -->
        <div class="col-sm-12">
            <div class="box box-info">
                <div class="box-header with-border"><h3>{{ translate("UNLU.VINCULATIONS") }}</h3></div>
                <div class="box-body no-padding" style="overflow-x: scroll">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>{{ translate("UNLU.RESPONSABLE") }}</th>
                                <th>{{ translate("USER") }}</th>
                                <th>{{ translate("UNLU.REQUEST_DATE") }}</th>
                                <th>{{ translate("UNLU.END_DATE") }}</th>
                                <th>{{ translate("UNLU.ROLE") }}</th>
                                <th>{{ translate("UNLU.TYPE") }}</th>
                                <th>{{ translate("UNLU.ACTIVITY") }}</th>
                                <th>{{ translate("UNLU.PHONE") }}</th>
                                <th>{{ translate("UNLU.EMAIL") }}</th>
                                <th>{{ translate("UNLU.MEMBERS") }}</th>
                                <th>{{ translate("UNLU.DESCRIPTION") }}</th>
                                <th>{{ translate("UNLU.CERTIFICATE") }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vinculacion in vinculaciones %}
                            <tr>
                                <td nowrap>{{ vinculacion.responsable }}</td>
                                <td nowrap>{{ vinculacion.solicitante.user_name }}</td>
                                <td nowrap>{{ vinculacion.fecha_solicitud | date("d/m/Y") }}</td>
                                <td nowrap>{{ vinculacion.fecha_fin | date("d/m/Y") }}</td>
                                <td nowrap>{{ vinculacion.cargo }}</td>
                                <td nowrap>{{ vinculacion.tipo_usuario.description }}</td>
                                <td nowrap>{{ vinculacion.actividad }}</td>
                                <td nowrap>{{ vinculacion.telefono }}</td>
                                <td nowrap>{{ vinculacion.correo }}</td>
                                <td nowrap>
                                    <ul>
                                        {% for integrante in vinculacion.integrantes %}
                                        <li>{{ integrante.nombre }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td><textarea readonly>{{ vinculacion.descripcion }}</textarea></td>
                                <td>
                                    {% if vinculacion.id_acta %}
                                        <button type="button" class="btn btn-lg btn-primary ver-acta" data-id="{{ vinculacion.id_acta }}"><i class="fa fa-file-contract"></i></button>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row"> <!-- Peticiones -->
        <div class="col-sm-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3>{{ translate("UNLU.PETITION") }}</h3>
                </div>
                <div class="box-body no-padding" style="overflow-x: scroll">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>{{ translate("UNLU.PETITION.START_DATE") }}</th>
                                <th>{{ translate("UNLU.PETITION.END_DATE") }}</th>
                                <th>{{ translate("USER") }}</th>
                                <th>{{ translate("UNLU.PETITION.VINCULATION") }}</th>
                                <th>{{ translate("UNLU.PETITION.SERVICE") }}</th>
                                <th>{{ translate("UNLU.PETITION.APPROVED") }}</th>
                                <th>{{ translate("UNLU.PETITION.DESCRIPTION") }}</th>
                                <th>{{ translate("UNLU.PETITION.OBSERVATIONS") }}</th>
                                <th>{{ translate("ACTIONS") }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for peticion in peticiones %}
                            <tr>
                                <td nowrap>{{ peticion.fecha_inicio | date("d/m/Y") }}</td>
                                <td nowrap>{{ peticion.fecha_fin | date("d/m/Y") }}</td>
                                <td nowrap>{{ peticion.usuario.user_name }}</td>
                                <td nowrap>{{ peticion.vinculacion.actividad }}</td>
                                <td nowrap>{{ peticion.servicio.denominacion }}</td>
                                <td><input type="checkbox" {% if peticion.aprobada %}checked{% endif %} onclick="return false;"/></td>
                                <td><textarea readonly>{{ peticion.descripcion }}</textarea></td>
                                <td><textarea readonly>{{ peticion.observaciones }}</textarea></td>
                                <td>
                                    <div class="dropdown">
                                        <button class="dropbtn btn btn-primary">Acciones</button>
                                        <div class="dropdown-content">
                                            {% if checkAccess("admin_unlu") %}
                                            <a href="#" class="aprobar-peticion" data-id="{{ peticion.id }}">
                                                <i class="fas fa-plus-square"></i> Aprobar
                                            </a>
                                            {% endif %}
                                            <a href="#" class="editar-peticion" data-id="{{ peticion.id }}">
                                                <i class="fas fa-pen-square"></i> Editar petición
                                            </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
        {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/unlu') | raw }}

    {{ assets.css('css/pages/unlu') | raw }}

{% endblock %}