{% extends 'pages/abstract/dashboard.html.twig' %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("UNLU") }}{% endblock %}
{% block page_description %}{{ translate("UNLU.DESCRIPTION") }}{% endblock %}

{% block body_matter %}
    <div class="row"> <!-- Acciones -->
        {% if current_user.activo %}
            <div class="col-sm-4">
                <a href="#" class="solicitar-vinculacion">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fas fa-file-contract fa-fw"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{ translate("UNLU.ACTIONS.REQUEST_VINCULATION") }}</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="solicitar-servicio">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fas fa-plus-circle fa-fw"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{ translate("UNLU.ACTIONS.REQUEST_SERVICE") }}</span>
                        </div>
                    </div>
                </a>
            </div>
            {% if checkAccess("admin_unlu") %}
                <div class="col-sm-4">
                    <a href="#" class="baja-solicitud">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue"><i class="fas fa-minus-circle fa-fw"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{ translate("UNLU.ACTIONS.DELETE_REQUEST") }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% else %}
            <div class="col-sm-12">
                <div class="info-box">
                    <span class="info-box-icon bg-gray"><i class="fas fa-times fa-fw"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">{{ translate("UNLU.ACTIONS.DENIED") }}</span>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row"><!-- Vinculaciones -->
        <div class="col-sm-12">
            <div id="tablaVinculaciones" class="box box-info">
                <button class="btn btn-link" data-toggle="collapse" data-target="#tablaVinculacionesBody" aria-expanded="true" aria-controls="collapseOne">
                    <h3>{{ translate("UNLU.VINCULATION.PLURAL") }}</h3>
                </button>
                <div id="tablaVinculacionesBody" class="box-body no-padding accordion-body collapse in" style="overflow-x: scroll">
                    {% include "tables/vinculaciones.html.twig" with
                        { "table": { "id": "tabla-vinculaciones" } } %}
                </div>
            </div>
        </div>
    </div>

    {% if checkAccess("admin_unlu") %}<!-- Servicios -->
        <div class="row">
            <div class="col-sm-12">
                <div id="tablaServicios" class="box box-info">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#tablaServiciosBody" aria-expanded="true" aria-controls="collapseOne">
                        <h3>{{ translate("UNLU.SERVICE.PLURAL") }}</h3>
                    </button>
                    <div id="tablaServiciosBody" class="accordion-body collapse in">
                        <div class="box-body no-padding">
                            {% include "tables/servicios.html.twig" with
                                { "table": { "id": "tabla-servicios" } } %}
                        </div>
                        <div class="box-footer">
                            <button type="button" class="btn btn-success agregar-servicio">
                                <i class="fas fa-plus-square"></i> {{ translate("UNLU.SERVICE.ADD") }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row"> <!-- Peticiones -->
        <div class="col-sm-12">
            <div id="tablaPeticiones" class="box box-info">
                <button class="btn btn-link" data-toggle="collapse" data-target="#tablaPeticionesBody" aria-expanded="true" aria-controls="collapseOne">
                    <h3>{{ translate("UNLU.PETITION") }}</h3>
                </button>
                <div id="tablaPeticionesBody" class="box-body no-padding accordion-body collapse in" style="overflow-x: scroll">
                    {% include "tables/peticiones.html.twig" with
                        { "table": { "id": "tabla-peticiones" } } %}
                    <div class="box-footer">
                        <p class="help-block">{{ translate("UNLU.PETITION.HELP") }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if checkAccess("admin_unlu") %}<!-- Actas -->
        <div class="row">
            <div class="col-sm-12">
                <div id="tablaActas" class="box box-info">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#tablaActasBody" aria-expanded="true" aria-controls="collapseOne">
                        <h3>{{ translate("UNLU.CERTIFICATE.PLURAL") }}</h3>
                    </button>
                    <div id="tablaActasBody" class="accordion-body collapse in">
                        <div class="box-body no-padding">
                            {% include "tables/actas.html.twig" with
                                { "table": { "id": "tabla-actas" } } %}
                        </div>
                        <div class="box-footer">
                            <button type="button" class="btn btn-success agregar-acta">
                                <i class="fas fa-plus-square"></i> {{ translate("UNLU.CERTIFICATE.ADD") }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if checkAccess("admin_unlu") %}<!-- Informes -->
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-info">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#divInformes" aria-expanded="true" aria-controls="collapseOne">
                        <h3>Informes</h3>
                    </button>
                    <div id="divInformes" class="box-body no-padding accordion-body collapse in">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <button class="btn btn-link informe-peticiones">Peticiones vencidas</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
        {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/unlu') | raw }}

    {{ assets.css('css/pages/unlu') | raw }}

{% endblock %}
