<form class="js-form" method="post" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts"></div>
    <h4>
        ¿Está seguro que quiere aprobar esta petición?:<br>
        Vinculación: {% if peticion.id_vinculacion %}<b>{{ peticion.vinculacion.actividad }}</b>{% else %}{{ translate("UNLU.PETITION.VINCULATION.NONE") }}{% endif %}<br>
        Servicio: <b>{{ peticion.servicio.denominacion }}</b>
    </h4>
    <br>
    <input type="hidden" name="aprobada" value="true"/>
    <div class="btn-group-action">
        <button type="submit" class="btn btn-success btn-lg btn-block">{{ form.submit_text }}</button>
        <button type="button" class="btn btn-default btn-lg btn-block" data-dismiss="modal">{{ translate("CANCEL") }}</button>
    </div>
</form>