<form class="js-form" method="{{ form.method | default('POST') }}" action="{{ site.uri.public }}/{{ form.action }}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts"></div>

    <div class="row"> <!-- Denominación y acta -->
        <div class="col-sm-8"> <!-- Denominación -->
            <div class="form-group">
                <label>{{ translate("UNLU.SERVICE.DENOMINATION") }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="denominacion" autocomplete="off"
                           value="{{ servicio.denominacion }}" placeholder="{{ translate("UNLU.SERVICE.DENOMINATION") }}">
                </div>
            </div>
        </div>
        <div class="col-sm-4"> <!-- Acta -->
            <div class="form-group">
                <label>{{ translate("UNLU.SERVICE.CERTIFICATE_NEEDED") }}</label>
                <div class="form-check">
                    <label>
                        <input type="checkbox" class="form-check-input" name="necesita_acta"
                               {%if servicio.necesita_acta %}checked{% endif %} />
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{ translate("UNLU.SERVICE.OBSERVATIONS") }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <textarea class="form-control" name="observaciones" autocomplete="off"
                           placeholder="{{ translate("UNLU.SERVICE.OBSERVATIONS") }}">{{ servicio.observaciones }}</textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{ form.submit_text }}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{ translate("CANCEL") }}</button>
        </div>
    </div>
</form>

<script>
    <!-- Include validation rules -->
    {% include "pages/partials/page.js.twig" %}
</script>