<form class="js-form" method="{{ form.method | default('POST') }}" action="{{ site.uri.public }}/{{ form.action }}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts"></div>
    <div class="row"><!-- Solicitante y Responsable -->
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{ translate("UNLU.VINCULATION.APPLICANT") }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <select id="select-solicitante" class="form-control js-select2"
                            name="id_solicitante" {{ page.visibility }} data-old="{{ vinculacion.id_solicitante | default(current_user.id) }}"
                            {% if not checkAccess("admin_unlu") %}disabled{% endif %}>
                        {% for usuario in usuarios_activos %}
                            <option value="{{ usuario.id }}"
                                    {% if usuario.id == vinculacion.id_solicitante or usuario.id == current_user.id %}selected{% endif %}
                                    full-name="{{ usuario.full_name }}"
                                    user-name="{{ usuario.user_name }}">

                                {{ usuario.full_name }}{{ usuario.user_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{ translate("UNLU.VINCULATION.RESPONSABLE") }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input id="input-responsable" type="text" class="form-control" name="responsable"
                           autocomplete="off" value="{{ vinculacion.responsable }}"
                           placeholder="{{ translate("UNLU.VINCULATION.RESPONSABLE") }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row"><!-- Cargo y Tipo de usuario -->
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{ translate("UNLU.VINCULATION.POSITION") }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="cargo" autocomplete="off"
                           value="{{ vinculacion.cargo }}" placeholder="{{ translate("UNLU.VINCULATION.POSITION") }}">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{ translate("UNLU.VINCULATION.USERTYPE") }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <select id="input-tipo" class="form-control js-select2" name="tipo_de_usuario" {{ page.visibility }}>
                        <option value="">{{ translate("UNLU.VINCULATION.USERTYPE.PLACEHOLDER") }}</option>
                        {% for tipo in tipos_de_usuario %}
                            <option value="{{ tipo.id }}" {% if tipo.id == vinculacion.tipo_de_usuario %}selected="selected"{% endif %}>{{ tipo.description }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row"><!-- Actividad y Teléfono -->
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{ translate("UNLU.VINCULATION.ACTIVITY") }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="actividad" autocomplete="off"
                           value="{{ vinculacion.actividad }}" placeholder="{{ translate("UNLU.VINCULATION.ACTIVITY") }}">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{ translate("UNLU.PHONE") }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="telefono" autocomplete="off"
                           value="{{ vinculacion.telefono }}" placeholder="{{ translate("UNLU.PHONE") }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row"><!-- Email y Fecha de finalización -->
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{ translate("EMAIL") }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="correo" autocomplete="off"
                           value="{{ vinculacion.correo }}" placeholder="{{ translate("EMAIL") }}">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{ translate("UNLU.VINCULATION.END_DATE") }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="date" class="form-control" name="fecha_fin"
                           autocomplete="off"
                           value="{{ vinculacion.fecha_fin | date("Y-m-d") }}"
                           min="{{ vinculacion.fecha_fin | date("Y-m-d") }}">
                </div>
            </div>
        </div>
    </div>
    {% if edicion %}{# Fecha de solicitud #}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{ translate("UNLU.VINCULATION.REQUEST_DATE") }}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="date" class="form-control"
                            value="{{ vinculacion.fecha_solicitud | date("Y-m-d") }}"
                            disabled>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row"><!-- Descripción -->
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{ translate("UNLU.VINCULATION.DESCRIPTION") }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <textarea class="form-control" name="descripcion" autocomplete="off"
                           placeholder="{{ translate("UNLU.VINCULATION.DESCRIPTION") }}">{{ vinculacion.descripcion }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row"><!-- Integrantes -->
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{ translate("UNLU.VINCULATION.MEMBERS") }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-user-friends fa-fw"></i></span>
                    <div id="integrantes">
                        <input id="input-integrante-solicitante" class="form-control" disabled {{ page.visibility }}
                               {% if vinculacion.solicitante %}
                                   value="{{ vinculacion.solicitante.full_name }}"
                               {% else %}
                                   value="{{ current_user.full_name }}"
                               {% endif %}>
                        {% for integrante in vinculacion.integrantes %}
                            {% if integrante.id_usuario %}
                                <select class="form-control js-select2 select-integrante" name="integrantes[]" {{ page.visibility }}>
                                    {% for usuario in usuarios %}
                                        <option value="{{ usuario.id }}"
                                                {% if usuario.id == integrante.id_usuario %}selected{% endif %}>
                                            {{ usuario.full_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input type="text" class="form-control" name="integrantes[]" autocomplete="off" placeholder="{{ translate("NAME") }}"
                                       value="{{ integrante.nombre }}" />
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <p class="help-block">{{ translate("UNLU.VINCULATION.MEMBERS.HELP") }}</p>
                <div id="botones-integrantes" class="input-group">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-block btn-lg btn-success agregar-integrante-usuario"><i class="fa fa-plus"></i> {{ translate("UNLU.VINCULATION.MEMBERS.ADD_REGISTERED") }}</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-block btn-lg btn-success agregar-integrante-no-usuario"><i class="fa fa-plus"></i> {{ translate("UNLU.VINCULATION.MEMBERS.ADD_NOT_REGISTERED") }}</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-block btn-lg btn-danger quitar-integrante"><i class="fa fa-times"></i> {{ translate("UNLU.VINCULATION.MEMBERS.REMOVE") }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{ form.submit_text }}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{ translate("CANCEL") }}</button>
        </div>
    </div>
</form>

<template id="agregar-integrante-usuario">
    <select class="form-control js-select2 select-integrante" name="integrantes[]" {{ page.visibility }} data-old="">
        <option value="">{{ translate("UNLU.VINCULATION.MEMBERS.SELECT_PLACEHOLDER") }}</option>
        {% for usuario in usuarios %}
            <option value="{{ usuario.id }}">{{ usuario.full_name }}</option>
        {% endfor %}
    </select>
</template>

<template id="agregar-integrante-no-usuario">
    <input type="text" class="form-control" name="integrantes[]" autocomplete="off" placeholder="Nombre"/>
</template>

{% block scripts_page %}
    <!-- Include validation rules -->
    <script>{% include "pages/partials/page.js.twig" %}</script>

    {{ assets.js('js/forms/vinculacion') | raw }}
    {{ assets.css('css/forms/vinculacion') | raw }}

{% endblock %}