{% extends "modals/modal.html.twig" %}

{% block modal_title %}{{ translate("UNLU.CERTIFICATE.PLURAL") }}{% endblock %}

{% block modal_body %}
    <form class="js-form" method="{{ form.method }}" action="{{ site.uri.public }}/{{ form.action }}">
        {% include "forms/csrf.html.twig" %}
        <div class="js-form-alerts"></div>

        <div class="row">
            <div class="col-sm-12">
                <div id="tablaAsignarActa">
                    {% include "tables/asignar-acta.html.twig" with
                        { "table": { "id": "tabla-asignar-actas" } }
                    %}
                </div>
            </div>
        </div>

        <input type="hidden" name="id_vinculacion" value="{{ id_vinculacion }}">
    </form>

    <script>
        {% include 'modals/partials/asignar-acta.js.twig' %}
    </script>
{% endblock %}