{% extends "@core/modals/modal.html.twig" %}

{% block modal_title %}{{ modal.title }}{% endblock %}

{% block modal_size %}modal-lg{% endblock %}

{% block modal_body %}
    <div class="js-form-alerts"></div>
    <h2><small>{{ translate("UNLU.REPORT.EXPIRED_PETITIONS.DESCRIPTION", {fecha_min: fecha_min | date('d-m-Y'), fecha_max: fecha_max | date('d-m-Y')})}}</small></h2>
    <div class="row">
        <div class="col-md-12">
            <div id="tablaPeticionesVencidas" style="overflow-x: scroll">
                {% include "tables/peticiones-vencidas.html.twig" with
                    { "table": { "id": "tabla-peticiones-vencidas" } } %}
            </div>
        </div>
    </div>

    <input id="inputFechaMin" type="hidden" value="{{ fecha_min | date('Y-m-d') }}">
    <input id="inputFechaMax" type="hidden" value="{{ fecha_max | date('Y-m-d') }}">

    {% block scripts_page %}
        <script>{% include "pages/partials/page.js.twig" %}</script>
        {{ assets.js('js/modals/peticiones-vencidas') | raw }}
    {% endblock %}
{% endblock %}
