{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="{{table.sortlist}}">
        <thead>
            <tr>
                <th class="sorter-metatext"
                    data-column-name="denominacion"
                    data-column-template="#service-table-column-denomination"
                    data-priority="critical"
                    nowrap>
                        {{ translate("UNLU.SERVICE.DENOMINATION") }} <i class="fa fa-sort"></i>
                </th>
                <th class="sorter-metatext"
                    data-column-name="observaciones"
                    data-column-template="#service-table-column-observations"
                    data-priority="1"
                    data-sorter="false"
                    nowrap>
                        {{ translate("UNLU.SERVICE.OBSERVATIONS") }}</i>
                </th>
                <th class="sorter-metatext"
                    data-column-name="necesita_acta"
                    data-column-template="#service-table-column-necesita_acta"
                    data-priority="1"
                    data-filter="false">
                        {{ translate("UNLU.SERVICE.CERTIFICATE_NEEDED") }} <i class="fa fa-sort"></i>
                </th>
                <th data-column-name="acciones"
                    data-column-template="#service-table-column-actions"
                    data-sorter="false"
                    data-filter="false"
                    data-priority="critical"
                    nowrap>
                        {{ translate("ACTIONS") }}
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    <script id="service-table-column-denomination" type="text/x-handlebars-template">
        <td data-text="{{ '{{row.denominacion}}' }}">{{ '{{row.denominacion}}' }}</td>
    </script>

    <script id="service-table-column-observations" type="text/x-handlebars-template">
        <td data-text="{{ '{{row.observaciones}}' }}">{{ '{{row.observaciones}}' }}</td>
    </script>

    <script id="service-table-column-necesita_acta" type="text/x-handlebars-template">
        <td style="text-align: center">
            {{ '{{#if row.necesita_acta}}' }}
                <span>{{ translate("YES") }}</span>
            {{ '{{else}}' }}
                <span>{{ translate("No") }}</span>
            {{ '{{/if}}' }}
        </td>
    </script>

    <script id="service-table-column-actions" type="text/x-handlebars-template">
        <td>
            <div class="dropdown">
                <button class="dropbtn btn btn-primary">{{ translate("ACTIONS") }}</button>
                <div class="dropdown-content">
                    <a href="#" class="editar-servicio" data-id="{{ '{{row.id}}' }}">
                        <i class="fas fa-pen"></i> {{ translate("UNLU.SERVICE.EDIT") }}
                    </a>
                    <a href="#" class="eliminar-servicio" data-id="{{ '{{row.id}}' }}">
                        <i class="fas fa-trash"></i> {{ translate("UNLU.SERVICE.DELETE") }}
                    </a>
                </div>
            </div>
        </td>
    </script>
{% endblock %}